body {
  background-color: #F8F8F8;
  height: 100vh;
  font-family: 'Raleway', sans-serif; }

.robot {
  font-family: 'Roboto Condensed', sans-serif; }

hr {
  padding: 0;
  margin: 1em 0px; }

.accent {
  color: #175A8B; }

.shadow {
  box-shadow: 0px 0.1px 10px 0.1px #666; }

.card-shadow {
  box-shadow: 0px -1px 13px -7px rgba(0, 0, 0, 0.66); }

.shadow-super-light {
  box-shadow: 0px 0.1px 5px 0.1px #777; }

.shadow-light {
  box-shadow: 0px 0.1px 10px 0.1px #555; }

.btn-custom {
  background-color: #175A8B;
  color: #fff; }

.btn-custom:hover {
  color: #fff; }

.btn-custom1 {
  background-color: #3D5B6F;
  color: #fff; }

.btn-custom1:hover {
  background-color: #1D2D38;
  color: #fff; }

.landing-btn {
  background-color: #222;
  color: #fff; }

.landing-btn:hover {
  background-color: #676767;
  color: #fff; }

.landing-btn1 {
  background: #0E3E60;
  color: #fff; }

.landing-btn1:hover {
  background: #175A8B;
  color: #fff; }

a {
  color: #077BC9; }

.Login {
  background-image: url("/assets/img/bg-transparent.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: #6693B2; }

.l-center {
  margin: auto;
  padding-top: 20vh; }

.login-card {
  background: #fff;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 23px 25px 23px; }

.r-center {
  padding-top: 15vh; }

.validate {
  background-image: url("/assets/img/bg-transparent.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: #6693B2; }

.CreateAccount {
  background-image: url("/assets/img/bg-transparent.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: #6693B2; }

.register-card {
  background: #fff;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 30px 25px 30px; }

.form-group {
  margin-top: 25px;
  margin-bottom: 25px; }

.p-center {
  padding-top: 23vh; }

.project-card {
  background: #6693B2;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 23px 25px 23px; }

.dashboard-nav {
  background-color: #5A83BC;
  color: #fff; }

.sidebar {
  position: fixed;
  top: 78px;
  max-width: 15%;
  background-color: #fff;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto; }

.right-nav {
  margin-top: 55px; }

.post-card-h {
  background-color: #6693B2; }

.Dashboard {
  padding-top: 15px; }
  .Dashboard .container-fluid .right-nav {
    margin-left: 50px; }

.p-card {
  background-color: #fff; }

.project-card-header {
  background-color: #6693B2;
  color: #fff; }

.header-ide {
  background-color: #8D8D8D; }

.card-ide {
  background-color: #6D6969; }

.text-ide {
  background-color: #6D6969;
  color: #fff; }

.Main-Page {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #175A8B;
  color: #fff; }
  .Main-Page .landing-container {
    height: 95vh;
    padding-top: 25vh;
    padding-bottom: 10vh; }

.About {
  background-color: White;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.card-btn {
  padding-left: 5px !important;
  padding-right: 5px !important; }

.nav-btn {
  background-color: #e2e2e2;
  color: white; }

.nav-btn:hover {
  background-color: #e1e1e1;
  color: white; }

.nav-bg {
  background-color: #e2e2e2;
  color: #fff; }

.nav-bg:hover {
  color: #fff;
  background-color: #e1e1e1; }

.carousel-indicator .active {
  background-color: #222 !important; }

.Guide {
  background-color: #6693B2; }

.guide-inner {
  padding-top: 12vh; }

/*# sourceMappingURL=style.css.map */
