body {
  background-color: #F8F8F8;
  height: 100vh;
  font-family: 'Raleway', sans-serif; }

.robot {
  font-family: 'Roboto Condensed', sans-serif; }

hr {
  padding: 0;
  margin: 1em 0px; }

.accent {
  color: #175A8B; }

.shadow {
  box-shadow: 0px 0.1px 10px 0.1px #666; }

.shadow-super-light {
  box-shadow: 0px 0.1px 5px 0.1px #777; }

.shadow-light {
  box-shadow: 0px 0.1px 10px 0.1px #555; }

.btn-custom {
  background-color: #175A8B;
  color: #fff; }

.btn-custom1 {
  background-color: #3D5B6F;
  color: #fff; }

.btn-custom1:hover {
  background-color: #1D2D38;
  color: #fff; }

.landing-btn {
  background-color: #222;
  color: #fff; }

.landing-btn:hover {
  background-color: #676767;
  color: #fff; }

.landing-btn1 {
  background: #0E3E60;
  color: #fff; }

.landing-btn1:hover {
  background: #175A8B;
  color: #fff; }

a {
  color: #077BC9; }

.Login {
  background-image: url("/assets/img/bg-transparent.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: #6693B2; }

.l-center {
  margin: auto;
  padding-top: 20vh; }

.login-card {
  background: #fff;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 23px 25px 23px; }

.r-center {
  padding-top: 9vh; }

.CreateAccount {
  background-image: url("/assets/img/bg-transparent.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: #6693B2; }

.register-card {
  background: #fff;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 30px 25px 30px; }

.form-group {
  margin-top: 25px;
  margin-bottom: 25px; }

.p-center {
  padding-top: 23vh; }

.project-card {
  background: #6693B2;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 23px 25px 23px; }

.Dashboard {
  padding-top: 55px; }
  .Dashboard .d-flex {
    height: 100%; }
    .Dashboard .d-flex .side-nav {
      height: auto;
      background-color: #336489; }
      .Dashboard .d-flex .side-nav .list-active {
        background-color: #264C68 !important; }
      .Dashboard .d-flex .side-nav .list-group-item {
        padding-left: 15px;
        padding-right: 15px;
        background: none;
        border: none;
        color: #fff;
        border-radius: 0; }
      .Dashboard .d-flex .side-nav .list-group-item:hover {
        background-color: #264C68; }

.p-card {
  background-color: #fff; }

.project-card-header {
  background-color: #6693B2;
  color: #fff; }

.header-ide {
  background-color: #8D8D8D; }

.card-ide {
  background-color: #6D6969; }

.text-ide {
  background-color: #6D6969;
  color: #fff; }

.Main-Page {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #175A8B;
  color: #fff; }
  .Main-Page .landing-container {
    height: 95vh;
    padding-top: 25vh;
    padding-bottom: 10vh; }

.About {
  background-image: url("/assets/img/computers_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

/*# sourceMappingURL=style.css.map */
